 <!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license) -->

	{% extends "layout.tmpl" %}
								{% block body %}									

<h2>Welcome to StalkerBuster</h2>
											<p>A tool to scan the network traffic of your phone</p>										  
										</header>
										<p><span class="image right"><img src="static/images/logo.svg" alt="" /></span>StalkerBuster scans the network traffic of your phone and can provide hints, if something unusual is going on. If you consent that your phone is being scanned, please press the button below.</p>
										<ul class="actions">
											<li><a href="#" class="button primary">Scan your phone</a></li>
										</ul>
<br><br><br>								
							

											<ul class="actions">
												<li><a href="/about" class="button big">About</a></li>
											</ul>
					</section>
					</div>
					</div>

	
										
				<!-- Sidebar -->

				<div id="sidebar">
						<div class="inner">


<!-- Menu -->

								<nav id="menu">
									<header class="major">
										<h2>Settings</h2>
									</header>
									<ul>

<li>
<span class="opener"><h4>IP</h4></span>
											<ul>
												<h4>Please enter your IP-address</h4>
		<form method="post" action="#">
														<div class="row gtr-uniform">
															<div class="col-8 col-12-xsmall">
																<input type="text" name="demo-IP" id="demo-IP" value="" placeholder="IP address" />
															</div>
														</div>
												</form>										
											</ul>
</li>
<li>												<span class="opener"><h4>DNS</h4></span>

		<ul>
											   	<h4>Please enter a DNS:</h4>

													<form method="post" action="#">
														<div class="row gtr-uniform">
															<div class="col-8 col-12-xsmall">
																<input type="text" name="demo-IP" id="demo-IP" value="" placeholder="DNS" />
															</div>
																								</div>
													</form>	
		</ul>
</li>

<li>
	<span class="opener"><h4>SSID</h4></span>
												<ul>
											   	<h4>Please enter an SSID:</h4>

													<form method="post" action="#">
														<div class="row gtr-uniform">
															<div class="col-8 col-12-xsmall">
																<input type="text" name="demo-IP" id="demo-IP" value="" placeholder="SSID" />
															</div>			
														</div>
												</form>									</ul>
												</li>
										
									</ul>

</nav>



							<!-- Footer -->
								<footer id="footer">
									<p class="copyright">&copy; StalkerBuster. Petra Hagemann and Uli Fouquet GbR. All rights reserved. Design: HTML5 UP.</p>
								</footer>

						
					</div>
</div></div></div>
			

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

</body>
{% endblock %}
</html>
