<!DOCTYPE HTML>
<!--
		Editorial by HTML5 UP
		html5up.net | @ajlkn
		Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
	-->
<html>

  
  <head>  
		<title>StalkerBuster</title>
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
			<link rel="stylesheet" href="/static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Main -->
			<div id="main">
			  
				<div class="inner">
{% if session["logged_in"] %}

	<!-- Menu -->
<nav id="menu">
  <ul>
    <li><a class="active" href="/"><i class="fa fafw fa-home" style="font-size: 1.5em;"></i></a></li>
    <li><a class="active" href="/about"><i class="fa fafw fa-info-circle" style="font-size: 1.5em;"></i></a></li>
    <li><a class="active" href="/settings"><i class="fa fafw fa-gear" style="font-size: 1.5em;"></i></a></li>
  {% if ssid %}
    <li><a class="active" href="/settings"><img src="static/images/wifi.svg" width="27">
    {% else %}
    <li><a href="/settings"><img src="static/images/wifi-slash.svg" width="27">
    {% endif %}
    </a></li>

 {% if session["scan_started"] %}
    <li><a class="active" href="/scan"><i class="fa fafw fa-play" style="font-size: 1.5em; color: black;"></i>
    {% else %}
    <li><a class="active" href="/scan"><i class="fa fafw fa-pause" style="font-size: 1.5em; color: black;"></i>
    {% endif %}
    </a></li>
    
    <li style="float:right"><a class="active" href="/logout"><i class="fa fafw fa-sign-out" style="font-size: 1.5em;"></i></a></li>
 </ul>
</nav>


					{% endif %}
					
				
					
					<!-- Header -->
					<header id="header">
						<a class="logo"><img src="/static/images/banner.png" alt="" /></a>
					</header>

{% with messages = get_flashed_messages() %}
	{% if messages %}
					<br />
		{% for message in messages %}
					<div class="warning">{{ message }}</div>
		{% endfor %}
	{% endif %}
{% endwith %}

{% block body %}{% endblock %}

{% block settings %}


						</div>
					</div>
{% endblock %} <!-- /settings -->

						<!-- Footer -->
							<footer id="footer">
								<p class="copyright">&copy; StalkerBuster. Petra Hagemann and Uli Fouquet GbR. All rights reserved. Design: HTML5 UP.</p>
							</footer>
				</div>
			</div>

{% block scripts %}
			<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
{% endblock %}

		</div>
	</body>
</html>
